################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/packages
/src/.vs/
/src/*/bin/
/src/*/obj/