<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="AzureMediaServiceName" value="MEDIASERVICENAME" />
    <add key="AzureMediaServiceKey" value="MEDIASERVICEKEY" />
  </appSettings>
  <connectionStrings>
    <add name="AzureStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=YOURACCOUNTNAME;AccountKey=YOURACCOUNTKEY" />
  </connectionStrings>
</configuration>